<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EmployeeMenuServlet</servlet-name>
  	<servlet-class>com.revature.controllers.EmployeeMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeMenuServlet</servlet-name>
  	<url-pattern>/employeeMenu</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ManagerMenuServlet</servlet-name>
  	<servlet-class>com.revature.controllers.ManagerMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManagerMenuServlet</servlet-name>
  	<url-pattern>/managerMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.revature.controllers.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutSession</servlet-name>
    <servlet-class>com.revature.controllers.LogoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSession</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <servlet-class>com.revature.controllers.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <url-pattern>/submitReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.controllers.ViewReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbursementsServlet</servlet-name>
    <url-pattern>/viewReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <servlet-class>com.revature.controllers.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <url-pattern>/viewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.revature.controllers.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProfilesServlet</servlet-name>
    <servlet-class>com.revature.controllers.ViewProfilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfilesServlet</servlet-name>
    <url-pattern>/viewAllProfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingReimbursementServlet</servlet-name>
    <servlet-class>com.revature.controllers.PendingReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingReimbursementServlet</servlet-name>
    <url-pattern>/pendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllServlet</servlet-name>
    <servlet-class>com.revature.controllers.ViewAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllServlet</servlet-name>
    <url-pattern>/viewAllReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.revature.controllers.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DenyServlet</servlet-name>
    <servlet-class>com.revature.controllers.DenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyServlet</servlet-name>
    <url-pattern>/deny</url-pattern>
  </servlet-mapping>
</web-app>
